<!DOCTYPE html>
<html lang="es">
<head>
	 <meta charset="utf-8">
	<title>Taller Don Alex</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
<div class="container p-3 my-3 bg-dark text-white">
  <h1>Bienvenidos a Taller Don Alex</h1><br>
  <p>Tu mejor opcion a la hora de reparar tu automovil!</p>

</div>
<div class="container p-3 my-3 bg-dark text-white">
<div class="row">
	<div class="col-xl col">
		<div><h2>Ingresar cliente</h2><br>
			<form>
				<div class="form-group">
				  <label for="nombre">Nombre Cliente</label>
				  <input type="text" class="form-control" placeholder="Ingrese nombres Cliente" id="nombres">
				</div>
				<div class="form-group">
					<label for="texto">DUI CLiente</label>
					<input type="text" class="form-control" placeholder="DUI" id="dui_cliente">
				  </div>
				  <div class="form-group">
					<label for="texto">Vehiculo</label>
					<input type="text" class="form-control" placeholder="Vehiculo Cliente" id="vehiculo">
				  </div>
				  <div class="form-group">
					<label for="texto">Costo Reparacion</label>
					<input type="text" class="form-control" placeholder="Costo" id="RCosto">
				  </div>
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>
		
		</div>
		
	</div>
  <div class="col-xl col">
	  <h1>Clientes Ingresados</h1>
	  <table class="table table-dark table-striped">
		<thead>
			<tr>
			  <th>Nº</th>
			  <th>Nombre Cliente</th>
			  <th>Vehiculo</th>
			  <th>Costo reparación</th>
			  <th>Descuento</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td></td>
			  <td></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
		  </tbody>
		</table>
	</div>
 
</div>
</div>
<footer>
	<div class="row">
  
  <div class="col"> <p>Universidad Don Bosco 2020. Derechos reservados &#169;</p>	</div>
  
</div>
</footer>
</body>
</html>