
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div>
    <img src="https://firebasestorage.googleapis.com/v0/b/tallerdonalex-4c3a0.appspot.com/o/img%2Fpngfind.com-wolf-head-silhouette-png-3962285.png?alt=media&token=9cf51c38-62fb-41ed-9747-f4a8cb709283" width="100" height="100">
  </div>
  <h3>Taller Don Alex</h3>
  
</nav>
  
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
  
      <nav class="col-md-2 d-md-block bg-dark sidebar fo">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">
                <i class="fas fa-user"></i>Perfil Empleado
              </a>
            </li>
            <li class="nav-item">
              <a class="redirect" routerLink="/products">
                <i class="fas fa-prescription"></i>Clientes
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Perfil Empleado</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                  alt="{{user.displayName}}">
                <div class="media-body">
                  <h1>Bienvenido: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                  
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </main>
  
    </div>
  </div>
